.HeaderWrapper {
    background-color: blue;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 64px;
}

.Title {
    height: 64px;
    pointer-events: none;
}